@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: #8e44ad;
    color: white;
}

.wrapper {
    display: flex;
    text-align: center;
}

.box {
    margin: 1em;
    padding: 2em;
}

.icon {
    font-size: 2rem;
    
}

.numbers {
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    margin-top: 0;
}

@media (max-width: 580px) {
    .wrapper{
        flex-direction: column;
    }
}